body {
	background: #fff;
	margin: 0;
	padding: 38vh 0 0 0;
}


/*loader start*/


.loader {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
}

.box-one {
	width: 100%;
	height: 33.33%;
	background: #DD0004;

}

.box-two {
	display: flex;
	width: 100%;
	height: 33.33%;
	background: white;
	align-items: center;
	justify-content: center;
}

.box-two img {
	display: flex;
	object-fit: contain;
	width: 100%;
	height: 85%;
	align-items: center;
	justify-content: center;
}

.box-three {
	width: 100%;
	height: 33.33%;
	background: #DD0004;
}

.loader.hidden {
	animation: fadeOut 1.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	100% {

		visibility: hidden;
	}
}

/*loader end*/


/* animation */
.click-button button {
	border: none;
	outline: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: red;
	animation: click-button-anim 1s infinite;
}

.click-button button img {
	width: 50px;
	height: 50px;
}

@keyframes click-button-anim {
	0% {
		box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.2);
		transform: scale(1);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(201, 7, 7, 0.1);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 0 20px rgba(231, 0, 0, 0.2);
		transform: scale(1);
	}
}


.stage {
	display: flex;
	height: 20px;
	width: 100%;
}

.box {
	align-self: flex-end;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color: red;
	border-radius: 12px;
	padding: 8px 0 0 0;
	height: 40px;
	margin: 0 auto 0 auto;
	transform-origin: bottom;
	width: 100%;
	max-width: 300px;
	text-align: center;
}

.box .tel {
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: 600;
	color: white;
	letter-spacing: 10px;
	font-weight: bold;
	text-align: center;
}

.bounce-3 {
	animation-name: bounce-3;
	animation-timing-function: ease;
}

@keyframes bounce-3 {
	0% {
		transform: translateY(0);
	}

	30% {
		transform: translateY(10px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

/* animation */



/* header start */
.header {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

li,
a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;

	color: #000000;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
}

.logo {
	cursor: pointer;
	margin-right: auto;
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
}

.nav_links {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	font-size: 25px;
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	opacity: 0.90;
	color: #ef6f6c;
}

/* header end */


/*slider start*/
.slider-owl {
	width: 1000px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
	margin-left: 15%;
	margin-top: 25px;
	border-bottom: 5px solid red;
}

.slides-owl {
	width: 1000%;
	height: 500px;
	display: flex;
}

.slides-owl input {
	display: none;

}

.slide-owl {
	width: 20%;
	transition: 1s;
}

.slide-owl img {
	width: 1000px;
	height: 500px;
}

.navigation-manual-owl {
	position: absolute;
	width: 1000px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn-owl {
	border: 2px solid #000000;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
	opacity: 0.70;
}

.manual-btn-owl:not(:last-child) {
	margin-right: 40px;

}

.manual-btn-owl:hover {
	background: #fff;
}

#radio1:checked~.first {
	margin-left: 0;
}

#radio2:checked~.first {
	margin-left: -20%;
}

#radio3:checked~.first {
	margin-left: -40%;
}

#radio4:checked~.first {
	margin-left: -60%;
}

#radio5:checked~.first {
	margin-left: -80%;
}

#radio6:checked~.first {
	margin-left: -100%;
}


/* css for automatic navigation */
.navigation-auto-owl {
	position: absolute;
	display: flex;
	width: 1000px;
	justify-content: center;
	margin-top: 460px;
}

.navigation-auto-owl div {
	border: 2px solid #fff;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}

.navigation-auto-owl div:not(:last-child) {
	margin-right: 40px;
}

#radio1:checked~.navigation-auto-owl .auto-btn1-owl {
	background: #fff;
}

#radio2:checked~.navigation-auto-owl .auto-btn2-owl {
	background: #fff;
}

#radio3:checked~.navigation-auto-owl .auto-btn3-owl {
	background: #fff;
}

#radio4:checked~.navigation-auto-owl .auto-btn4-owl {
	background: #fff;
}

#radio5:checked~.navigation-auto-owl .auto-btn5-owl {
	background: #fff;
}

#radio6:checked~.navigation-auto-owl .auto-btn6-owl {
	background: #fff;
}

/*end*/

/*grid gallery start*/

.gallery-owl-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
	padding: 0 20px;

}

.gallery-owl-text h1 {
	margin-bottom: 0 !important;
	text-transform: uppercase;
}

.gallery-owl-text a {
	align-items: end;
	color: inherit;
	text-transform: uppercase;
	opacity: 0.70;
}

.gallery-owl-text a:hover {
	text-transform: uppercase;
	opacity: 0.99;
}

.gallery-owl {
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
	height: 213px;
	display: none;

}

.gallery-owl img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border: 5px solid red;
	border-radius: 5px;
}

#last-grid {
	height: 213px;
}




/*grid gallery end*/


/*started from here*/
.slider {
	height: auto;
	margin: auto;
	position: relative;
	width: 90%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.slide-track {
	display: flex;
	width: calc(260px * 22);
	animation: scroll 40s linear infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 11));
	}
}

.carousel.pointer-event {
	border-top: 5px solid red;
	height: 80%;
}


.slide img {
	height: 25vh;
	object-fit: cover;
}

.slide-route {
	text-decoration: none;
	color: black;
}

.slide-route:hover {
	color: black;
}

/* grid container css start */

.grid-grid {
	margin: 80px;
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 90px;
}

.grid-grid>article {
	background: #fff;
	border: none;
	position: relative;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	text-align: center;
	flex: 0 0 300px;
	transition: transform .3s;
	height: 100%;
	margin-top: 1rem;
}

.grid-grid>article:hover {
	transform: translateY(5px);
	box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.grid-grid>article img {
	width: 100%;
	justify-content: space-between;
	height: 170px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.text-grid {
	padding: 0 20px 60px;
}

.text-grid h3 {
	font-size: 18px;
	text-align: center;
	align-items: center;
	text-transform: uppercase;
}

.text-grid h3 .spicy {
	color: red;
}

.text-grid h2 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	align-items: center;
	color: green;
}

.grid-grid>article a {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 10px;
}

.text-grid h3 {
	color: black;
}

.text-grid h4 {
	text-transform: uppercase;
}

.grid-grid>article a button {
	background: #ef6f6c;
	border-radius: 20px;
	border: none;
	color: #fff;
	padding: 10px;
	width: 80%;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	opacity: 0.99;
}

.grid-grid>article a button:hover {
	opacity: 1.00;
}

@media only screen and (max-width: 576px) {



	.grid-grid>article {
		text-align: center;
	}

	.gallery-owl {
		display: block;
	}

	.click-button button {
		height: 48px;
		width: 48px;
	}

	.click-button button img {
		height: 35px;
		width: 35px;
	}

	.carousel.pointer-event {
		border-top: 5px solid red;
	}
}


/* grid container css end */

/* menu navbar start */

.menu-navbar {
	margin-top: 10px;
	padding: 0;
}

#last {
	margin-top: 0;
	margin-bottom: 20px;
}

.menu-navbar nav {
	background: red;
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-navbar nav ul {
	margin: 0;
	padding: 0 80px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.menu-navbar nav ul li {


	display: inline-block;
	line-height: 80px;
	text-align: center;
	justify-content: center;

}

.menu-navbar nav ul li p {
	width: 104%;
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	opacity: 1.00;
	margin: 0;
}

.menu-navbar nav ul li a:hover {
	opacity: 1.00;
}


/* menu navbar end */


/*contact us start*/
.main-contact {
	text-align: center;
}

.main-contact h3,
h4,
a {
	text-transform: uppercase;
}

.main-contact p {
	text-transform: uppercase;
}

.main-contact a:hover {
	color: #ef6f6c;

}

.main-contact p a span {
	text-transform: lowercase;
}

/*contact us end*/

/* /payment */


.payment {
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.payment-inner {
	margin-top: 40px;
}

.payment-icons {
	display: flex;
	margin-bottom: 30px;
	margin-top: 20px;
	justify-content: center;
}

.payment img {
	width: 80px;
	display: block;
	height: 35px;
	margin-left: 20px;
	object-fit: contain;
}

.payment h3 {
	text-transform: uppercase;
}

.main-link {
	background-color: transparent;
	color: white;
}

.nav-link-button {
	background-color: red;
	outline: none;
	border: none;
	border-radius: 10px;
	margin-top: 15px;
}

/* /payment */

/*footer started*/
.footer {
	padding: 40px 0px;
	background-color: #fff;
}

.footer .social-footer {
	text-align: center;
	padding-bottom: 25px;
	color: #4b4c4d;

}

.footer .social-footer a img {
	font-size: 25px;
	color: inherit;
	border: 1px solid #ccc;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	margin: 0 8px;
	opacity: 0.75;
}

.footer .social-footer a:hover img {
	opacity: 1.00;
}

.footer .copyright-footer {
	margin-top: 15px;
	text-align: center;

	color: #000;
}

/*footer ended*/


@media only screen and (max-width: 1178px) {
	/*.slider-owl {*/
	/*	width: 100%;*/
	/*	margin-left: 0;*/
	/*	display: flex;*/
	/*	flex-direction: column-reverse;*/
	/*	align-items: center;*/
	/*}*/

	.slider-owl {
		margin-left: .5rem;
	}
}

@media only screen and (max-width: 1030px) {

	.manual-btn-owl {
		border: none;
	}

	.nav-main {
		display: none;
	}

	.navigation-manual-owl {
		width: 100%;
		max-width: 100%;
	}

	.navigation-auto-owl {
		margin-top: 360px;
		max-width: 100%;
	}

	.slider-owl {
		width: 100%;
		max-height: 400px;
		margin: 25px 0 0 0;
		padding: 0 .5rem;
	}

	.slides-owl {
		max-height: 400px;
	}

	.slide-owl {
		width: 100%;
	}

	.slide-owl img {
		max-width: 100%;
		max-height: 400px;
	}

	#radio1:checked~.first {
		margin-left: 0;
	}

	#radio2:checked~.first {
		margin-left: -100%;
	}

	#radio3:checked~.first {
		margin-left: -200%;
	}

	#radio4:checked~.first {
		margin-left: -300%;
	}

	#radio5:checked~.first {
		margin-left: -400%;
	}

	#radio6:checked~.first {
		margin-left: -500%;
	}

}



@media only screen and (max-width: 1400px) {
	.grid-grid>article {
		flex: 0 0 250px;
	}
}

@media only screen and (max-width: 1280px) {

	.conatiner-grid {
		margin-top: 20px;
		padding: 1rem;
	}

	.grid-grid {
		margin: 0;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.menu-navbar nav ul li {
		line-height: 1.5rem;
		max-width: 126px;
	}

	.grid-grid article {
		width: 100%;

	}
}



@media only screen and (max-width: 768px) {

	.logo {
		width: 150px;
	}

	.carousel.pointer-event {
		border-top: 5px solid red;

	}


	.gallery-owl {
		grid-template-columns: repeat(auto-fill, 100%);
	}

	.header header {
		padding: 30px 10px;
	}

	.nav_links li a {
		font-size: 18px;
	}

	.gallery-owl-text h1 {
		font-size: 18px;
	}

	.menu-navbar nav ul {
		margin-left: 0;
		margin-right: 0;
		padding: 0 1rem;
	}

	.menu-navbar nav ul li a {
		font-size: 15px;
	}

	.grid-grid {
		grid-template-columns: 1fr 1fr;

	}
}


@media only screen and (max-width: 576px) {

	.nav-link-button {
		margin-right: 20px;
	}

	.nav-link {
		background-color: red;
		color: white;
		width: 94%;
		margin-top: 6px;
		border-radius: 10px;
	}

	.grid-grid article {
		width: 80%;
		margin: 0 auto;

	}


	.box {
		background-color: white;
	}

	.box .tel {
		font-size: 14px;
		line-height: 1;
		font-weight: bold;
		color: black;
		letter-spacing: 7px;
		font-weight: bold;
		text-align: center;
	}

	.logo {
		width: 110px;
		margin-right: 0;
	}

	.grid-grid {
		grid-template-columns: 1fr;

	}

	.header header {
		display: flex;
		justify-content: space-between;
	}

	.nav_links li {
		max-width: 120px;
		padding: 0;
		text-align: center;
	}

	.nav_links li:nth-child(1) {
		margin-right: 20px;
	}

	.nav_links li a {
		font-size: 12px;
	}

	.nav_links {
		padding-left: 0;
		display: flex;
		align-items: flex-end;
	}

	.gallery-owl-text h1,
	a {
		font-size: 15px;
	}

	.menu-navbar nav ul li a {
		font-size: 12px;
	}
}




@media only screen and (max-width: 425px) {
	.nav-link {
		color: white !important;
		width: 80%;
		margin-top: 6px;
		border-radius: 10px;
	}

	.box a {
		font-size: 17px;
		font-weight: bold;
		color: white;
		letter-spacing: 3px;
		font-weight: bold;
		text-align: center;
	}

	.logo {
		width: 140px;
		margin-right: 0;

	}

	.slides-owl {
		width: 650%;
	}

	.slider-owl {
		padding: 0;
	}

	.nav_links {
		display: flex;
		align-items: center;
		list-style: none;
	}

	.nav_links li {
		display: inline-block;

	}

	.nav_links li:nth-child(1) {
		margin-right: 20px;
	}

	.nav_links li a {
		font-size: 10px;
		transition: all 0.3s ease 0s;
	}

	.nav_links li a:hover {
		opacity: 0.99;
		color: #ef6f6c;
	}

	.gallery-owl-text h1,
	a {
		font-size: 15px;
	}

	.menu-navbar nav ul li a {
		font-size: 12px;
	}
}

@media only screen and (max-width: 376px) {
	.nav-link-button {
		margin-right: 0;
	}
	body{
		padding: 43vh 0 0 0;
	}

	.logo {
		max-width: 110px;
	}

	.box .tel {
		font-size: 8px;
	}

	.box a {
		font-size: 12px;
	}
}

nav.meal {
	height: 60px;
}